@import "../../mixins";

.footer {
    padding-bottom: 4rem;
    height: 11rem;
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;
    text-align: center;
    * {
        position: relative;
    }
    &:before {
        width: 100vw;
        height: 15vh;
        z-index: 2;
        left: 0;
        bottom: 0;
        position: fixed;
        content: " ";
        background: var(--linear-gradient);
    }
    a {
        color: inherit;
        display: inline-block;
        z-index: 2;
    }
}

@include for-tablet-landscape-up {
    .footer {
        padding-bottom: 3rem;
    }
}