@import "../../mixins";

.footer {
    padding-bottom: 4rem;
    height: 11rem;
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;
    text-align: center;
    * {
        position: relative;
    }
    a {
        color: inherit;
        display: inline-block;
        z-index: 2;
    }
}

@include for-tablet-landscape-up {
    .footer {
        padding-bottom: 3rem;
    }
}
@media (prefers-color-scheme: light) {
    .footer{
        &:before {
            display: none;
        }
    }
}