@import "../../mixins";

.footer {
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    &:before {
        width: 100vw;
        height: 15vh;
        z-index: -1;
        left: 0;
        bottom: 0;
        position: fixed;
        content: " ";
        background: var(--linear-gradient);
    }
    a {
        color: inherit;
        display: inline-block;
    }
}

@include for-tablet-landscape-up {
    .footer {
        justify-content: start;
    }
}