@import "../../mixins";
@import "../../icons.module.scss";

.header {
    display: flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    &:before {
        content: " ";
        position: absolute;
        transition: .3s ease;
        width: 100%;
        height: 140%;
        opacity: 0;
        top: 0;
        left: 0;
        background: linear-gradient(
            var(--background-rgb) 50%,
            transparent
          );
    }
    &.blackOut:before{
        opacity: 1;
    }
    .brand {
        margin: auto;
        position: relative;
        z-index: 2;
        picture {
            display: block;
        }
    }
    img {
        width: 3rem;
        height: 3rem;
    }
    #toggleNav {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 44px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        z-index: 1;
        @extend .bars;
    }
    .nav {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        gap: 1rem;
        width: 70vw;
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem 0.5rem 1rem;
        background: var(--background-rgb);
        justify-content: flex-start;
        height: 100vh;
    }
    &.collapsed {
        #toggleNav {
            @extend .close;
        }
        .nav {
            visibility: visible;
            opacity: 1;
        }
    }
}

.nav {
    display: flex;
    gap: 0;
    align-items: center;
    left: 0;
    a {
        padding: .5rem .5rem .25rem;
        background-color: transparent;
        position: relative;
        font-weight: 700;
        text-decoration: none;
        font-size: var(--font-size-5);
        &:after {
            content: " ";
            position: absolute;
            height: 2px;
            border-radius: 4px;
            background-color: #fff;
            opacity: 0;
            width: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s ease;
        }
        &:hover:after,
        &.active:after {
            opacity: 1;
            width: 100%;
        }
        &:hover:after{
            background-color: var(--foreground-alpha-30);
        }
        &.active:after {
            background-color: var(--primary-regular);
        }
        &:focus-visible:after {
            opacity: 1;
            width: 100%;
            background-color: #7CD6FF;
        }
    }
}



@include for-phone-only {
  .header {
    position: fixed;
    top: 0;
  }
}
@include for-tablet-landscape-up {
    .header {
        flex-direction: row;
        gap: 2rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        .brand {
            margin: auto auto auto 0;
        }
        .nav {
            background-color: transparent;
            position: relative;
            padding: 0;
            visibility: visible;
            opacity: 1;
            width: auto;
            flex-direction: row;
            height: auto;
            a {
                padding: .5rem 1rem .25rem;
            }
        }
    }
    #toggleNav {
        display: none;
    }
}