@import "../../mixins";
@import "../../icons.module.scss";

.header {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid transparent;
    transition: padding .4s ease, border .1s ease;
    &:before {
        content: " ";
        position: absolute;
        transition: .3s ease;
        width: 100%;
        height: 182%;
        opacity: 0;
        top: 0;
        left: 0;
        background: linear-gradient(
            var(--background-rgb) 50%,
            transparent
          );
    }
    &.blackOut {  
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--foreground-alpha-20);
        transition: padding .4s ease, border 1s ease;
        &:before{
            opacity: 1;
        }
    }
    .brand {
        margin: 0 auto;
        position: relative;
        z-index: 2;
        picture {
            display: block;
            width: 2rem;
            height: 2rem;
        }
    }
    img {
        width: 2rem;
        height: 2rem;
    }
    #toggleNav {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 44px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        z-index: 1;
        @extend .icon;
        @extend .bars;
    }
    .nav {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        gap: 1rem;
        width: 70vw;
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 6rem 0.5rem 1rem;
        background: var(--background-rgb);
        justify-content: flex-start;
        height: 100vh;
    }
    &.collapsed {
        #toggleNav {
            @extend .close;
        }
        .nav {
            visibility: visible;
            opacity: 1;
        }
    }
}

.nav {
    display: flex;
    gap: 0;
    align-items: center;
    left: 0;
    a {
        padding: 1rem .5rem 0;
        background-color: transparent;
        position: relative;
        font-weight: 700;
        text-decoration: none;
        font-size: var(--font-size-5);
        &:hover{
            color: var(--foreground-rgb);
        }
        &.active{
            color: var(--foreground-rgb);
            border: 1px red;
        }
    }
}



@include for-phone-only {
  .header {
    position: fixed;
    top: 0;
  }
}
@include for-tablet-landscape-up {
    .header {
        flex-direction: row;
        gap: 2rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        .brand {
            margin: 0;
        }
        .nav {
            background-color: transparent;
            position: relative;
            padding: 0;
            visibility: visible;
            opacity: 1;
            gap: 2rem;
            width: auto;
            flex-direction: row;
            height: auto;
            a {
                padding: .5rem 0 .25rem;
            }
        }
    }
    #toggleNav {
        display: none;
    }
}