@import "../../mixins";

.header {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 1rem;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    img {
        width: 5rem;
    }
}

.nav {
    display: flex;
    gap: 0;
    align-items: center;
    a {
        padding: .5rem .5rem .25rem;
        background-color: transparent;
        position: relative;
        font-weight: 700;
        text-decoration: none;
        font-size: var(--font-size-5);
        &:after {
            content: " ";
            position: absolute;
            height: 1px;
            background-color: #fff;
            opacity: 0;
            width: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s ease;
        }
        &:hover:after,
        &.active:after {
            opacity: 1;
            width: 100%;
            background-color: #7CD6FF;
        }
        &:focus-visible:after {
            opacity: 1;
            width: 100%;
            background-color: #7CD6FF;
        }
    }
}



@include for-tablet-landscape-up {
    .header {
        flex-direction: row;
        gap: 2rem;
        padding: 4rem 0 2rem;
        nav {
            a {
                padding: .5rem 1rem .25rem;
            }
        }
    }
}