@import "mixins";

.wrapper {
  padding-right: 1rem;
  padding-left: 1rem;
}

.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}

.align-right {
  margin-right: 0;
  margin-left: auto;
}
.align-left {
  margin-left: 0;
  margin-right: auto;
}
.align-center {
  margin-left: auto;
  margin-right: auto;
}
.phone_only_flex {
  display: none !important;
}
@include for-phone-only {
  .phone_only_flex {
    display: flex !important;
  }
  .align-po-right {
    margin-right: 0;
    margin-left: auto;
  }
  .align-po-left {
    margin-left: 0;
    margin-right: auto;
  }
  .align-po-center {
    margin-left: auto;
    margin-right: auto;
  }
}
@include for-tablet-portrait-up {
  .wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .align-sm-right {
    margin-right: 0;
    margin-left: auto;
  }
  .align-sm-left {
    margin-left: 0;
    margin-right: auto;
  }
  .align-sm-center {
    margin-left: auto;
    margin-right: auto;
  }
}
@include for-tablet-landscape-up {
  .align-md-right {
    margin-right: 0;
    margin-left: auto;
  }
  .align-md-left {
    margin-left: 0;
    margin-right: auto;
  }
  .align-md-center {
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
}

@include for-desktop-up {
  .wrapper {
    padding-right: 7.5rem;
    padding-left: 7.5rem;
  }
}

@media (prefers-color-scheme: dark) {

}

@media (prefers-reduced-motion) {

}
