@import "./mixins";

.featuredSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  text-align: center;
}

@include for-phone-only {
  .featuredSection {
    background-color: var(--background-alpha-70);
    padding: 1rem;
    border-radius: var(--border-radius-small);
  }
}

@include for-tablet-landscape-up {
  .featuredSection {
    text-align: left;
    flex-direction: column;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

@media (prefers-color-scheme: dark) {
  
}

