@import "./mixins";

.featuredSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  position: relative;
  overflow: hidden;
}
.links_container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  a {
    margin: 0;
  }
}
.frontPic {
  max-width: 50vw;
  &:before {
    position: absolute;
    width: 100vw;
    height: 100vw;
    background: radial-gradient(var(--foreground-alpha-20), transparent, transparent);
    content: " ";
    right: -100%;
    bottom: -100%;
    z-index: -1;
  }
  img {
    width: stretch;
    height: stretch;
    display: block;
  }
}
.portfolioList{
  padding-top: 0;
  padding-bottom: var(--section-padding);
  gap: var(--section-padding);
  display: flex;
  flex-direction: column;
  width: 100%;
  .portfolioItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: auto / span 2;
    a {
      display: block;
      position: relative;
      width: 100%;
      picture {
        display: block;
        img {
          display: block;
          width: 100%;
          height: auto;
          filter: grayscale(100%) brightness(90%);
          transition: filter .5s;
          border-radius: var(--border-radius-small);
          box-shadow: var(--shadow-small);
          transition: .6s ease;
          &:hover{
            box-shadow: var(--shadow-large);
          }
        }
      }
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--primary-regular);
        color: var(--foreground-color);
        padding: .5rem 1rem;
        z-index: 1;
      }
      &:hover {
        img {
          filter: none;
        }
      }
    }
  }	
}

@include for-phone-only {
  .featuredSection {
    background-color: var(--background-alpha-70);
    border-radius: var(--border-radius-small);
  }
}

@include for-tablet-portrait-up {
  .featuredSection {
    height: calc(100vh - var(--header-height-lg));
    p {
      max-width: 50vw;
    }
  }
  .links_container {
    justify-content: flex-start;
    gap: 1rem;
    a {
      margin-right: auto;
    }
  }
  .portfolioList{
    .portfolioItem {
      grid-column: auto / span 1;
    }
  }
}
.footer {
    justify-content: flex-start !important;
    padding-bottom: 3rem;
}
@include for-tablet-landscape-up {
  .links_container {
    justify-content: flex-start;
    gap: 2rem;
    flex-direction: row;
    a {
      margin-right: 0;
    }
  }
  .frontPic {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-height: 75vh;
    max-width: 60vw;
  }
}
@media (prefers-color-scheme: light) {
  .frontPic:before{
    display: none;
  }
}
@include for-desktop-up {
  .frontPic {
    height: 80vh;
  }
}


