.buttomContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedbackMessage {
    h3 {
        color: var(--primary-regular);
        margin-bottom: 1em;
    }
}