@import "../mixins";

.resumeContainer {
    display: flex;
    gap: 2em;
    flex: 0 70% 30%;
    align-items: center;
    flex-direction: column;
    section {
        @extend .filledBox;
        padding: 2em;
    }
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
@include for-tablet-landscape-up {
    .resumeContainer {
        flex-direction: row;
        section {
            padding: 2rem 4rem;
        }
    }
    .sidebar {
        width: 30%;
        align-items: flex-end;
        text-align: right;
    }
}